.text_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: 800px;
    perspective: 100px;
}
.text_container > b{
    height: 70px;
    box-shadow: 7px 7px 7px grey;
    background: linear-gradient(to right,red,blue,yellow);
    transform-origin: bottom;
    background-clip: text;
    /* transform: rotateX(-85); */
    animation: getup 10s infinite;
    color: transparent;
    margin-top: 100px;
    
}
.text_container > b:nth-child(1){animation-delay: 0s;}
.text_container > b:nth-child(2){animation-delay: 0.25s;}
.text_container > b:nth-child(3){animation-delay: 0.50s;}
.text_container > b:nth-child(4){animation-delay: 0.75s;}
.text_container > b:nth-child(5){animation-delay: 1s;}
.text_container > b:nth-child(6){animation-delay: 1.25s;}
@keyframes getup{
    from{transform: rotateX(-100deg);}
    10%,50%{transform: rotateX(0deg);}
    60%,to{transform:rotateX(-100deg) ;}
}
