.para1{
    border: 3px solid blue;
}
.para2{
    border: 3px solid purple;
    padding: 20px;
    margin: 30px;
}
.para3{
    border: 3px solid orange;
    padding: 40px 30px 40px 30px;
    margin: 40px 30px 40px 30px;
}
.g_img{
    border: 5px solid red;
    padding: 30px 25px 30px 25px;
    margin: 30px 25px 30px 25px;
}