.family1{
    font-family: cursive;
    font-weight: 400;
}
p{
    font-size: 30px;
}
.family2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.family3{
    font-family: fantasy;
    font-weight: 900;
    
}
h1{
    color: red;
    font-size: 50px;
}
h1:hover{
    color: blanchedalmond;
    font-size: 70px;
    background-color: black;
    text-shadow: 5px 5px 4px green;
}
h2:active{
    color: blue;
    font-size: 70px;
    background-color: beige;
    cursor: pointer;
}
input:focus{
    background-color: black;
    color: white;

}
a:visited{
    color: gold;
}
::selection{
    color: red;
}
p::first-letter{
    color: purple;
    font-size: 40px;
}
p::first-line{
    color: blue;

}