div{
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
    animation: movement;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-delay: 3s;
    
}
@keyframes movement{
    0%{background-color:red;left: 0px;top: 0px;}
    25%{background-color:blue;left: 300px;top: 0px;}
    50%{background-color:yellow;left: 300px;top: 300px;}
    75%{background-color:aqua;left: 0px;top: 300px;}
    100%{background-color:black;left: 0px;top: 0px;}
}
@keyframes movement{
    0%{background-image: url(img/ganesh.png);left: 0px;top: 0px;}
    25%{background-image: url(img/burger.png);left: 300px;top: 0px;}
    50%{background-image: url(img/lion.webp);left: 300px;top: 300px;}
    75%{background-image: url(img/star.webp);left: 0px;top: 300px;}
    100%{background-image: url(img/ganesh.png);left: 0px;top: 0px;}
}

