div{
    display: flex;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.linear{
    height: 300px;
    background: linear-gradient(to bottom, red, purple, blue);
    margin: 20px;
}
.radial{
    margin: 20px;
    height: 700px;
    background:radial-gradient(circle, blue, orange, white);
}
.conic{
    color: blue;
    margin: 20px;
    height: 500px;
    background: conic-gradient(from 50deg,orange,white,green);
}



