@media only screen and (min-width:320px) and (max-width:767px){
    body{
        font-size: 20px;
        background-color: yellow;
    }
    
}
h1{
    font-size: 50px;
    color: red;
}
@media (min-width: 768px) and (max-width:1024px){
    body{
        background-color: green;
        
    }
    h1{
        font-size: 80px;
        color: blue;
        
    }
}